@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding:0px;
    margin:0px;
    font-family:"Roboto";
}
.title-image{
    height:250px;
    margin-bottom:10px;
}
.main-heading{
    font-size: 30px;
    text-align:center;
    font-weight:500;
    margin-bottom: 20px;
}
.center{
    text-align: center;
}
.input-container{
    padding:20px;
    width:100%;
    text-align: center;
}
.input-box-heading{
    font-size:30px;
    font-weight:500;
    margin-bottom:20px;
}
.input-box{
    margin-bottom: 25px;
    width:250px;
    border-radius:12px;
    border:1px solid #000000;
    padding:10px;
    text-align: center;
}
.button{
    width:120px;
    height:30px;
    color:#ffffff;
    background-color:#07ad07;
    font-size:16px;
    font-weight:300;
    border-width:0;
    border-radius:5px;
    cursor:pointer;
    margin-bottom:20px;
}
.result{
    font-size:18px;
    padding:20px;
    border-radius:20px;
}